<!-- <ul style="list-style-type: none; margin: 0; padding-left: 40px;">
    <li class="mt-4" style="position: relative;" onmouseover="this.querySelector('.delete-btn').style.display = 'block'"
        onmouseout="this.querySelector('.delete-btn').style.display = 'none'">
        <form>
            <div class="form-check">
                <input class="form-check-input fs-4" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label fs-4" for="flexCheckDefault">
                    Default checkbox
                </label>
                <input type="text"
                    style="border-radius: 12px; margin-left: 2rem; font-size: 0.8rem; border: 0cap; background-color: #E7E7E7"
                    size="8" placeholder="No due date" onfocus="(this.type='date')" onblur="(this.type='text')">
                <button class="btn btn-sm delete-btn fs-4"
                    style="display: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">❌</button>
            </div>
        </form>
    </li>
    <hr style="position: absolute; left: 0; width: 100%;">
</ul> -->
<ul style="list-style-type: none; margin: 0; padding-left: 40px;">
    <li class="mt-4" style="position: relative;" onmouseover="showColorPicker(this)" onmouseout="hideColorPicker(this)">
        <form>
            <div class="form-check">
                <button class="btn btn-sm delete-btn fs-4">❌</button>
                <div class="color-picker">
                    <input type="color" id="colorPicker" class="color-picker-input">
                </div>
                <input class="form-check-input fs-4" type="checkbox" value="" id="flexCheckDefault"
                    style="background-color: #E7E7E7;">
                <label class="form-check-label fs-4" for="flexCheckDefault">
                    Default checkbox
                </label>
                <input type="text" , class="date-input" size="8" placeholder="No due date" onfocus="(this.type='date')"
                    onblur="(this.type='text')">
            </div>
        </form>
    </li>
    <hr style="position: absolute; left: 0; width: 100%;">
</ul>